/* Theme */

main {
	background: #43A047;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.change_theme {
	background-color: #43A047;
	border: 1px solid #FAFAFA;
	color: #FAFAFA;

}