/* Theme */

main {
	background: #FAFAFA;
	color: #0277BD;
}

.icons-social a {
	color: #0277BD;
}

.icons-social a svg path{
	fill: #0277BD;
}

.change_theme {
	background-color: #FAFAFA;
	border: 1px solid #0277BD;
	color: #0277BD;

}